.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	overflow: hidden;
  margin-bottom: 20px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
}

@media only screen and (min-width: 600px) {
	.paddedText {
		margin-left: 16px;
	}
}

@media only screen and (max-width: 600px) {
	.paddedText {
		margin-left: 0px;
	}
}


@media only screen and (max-width: 2500px) {
  .tutorial-image {
    width: 40%
  }
}

@media only screen and (max-width: 600px) {
  .tutorial-image {
    width: 80%
  }
}

@media only screen and (max-width: 500px) {
  .tutorial-image {
    width: 85%
  }
}

@media only screen and (max-width: 400px) {
  .tutorial-image {
    width: 90%
  }
}


@media only screen and (max-width: 320px) {
  .tutorial-image {
    width: 100%
  }
}
