{% load static %}
{% load compress %}
{% load main_extras %}
{% load notifications_tags %}
{% get_settings 'DEBUG' as DEBUG %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% if not DEBUG %}
		<!-- Google Analytics -->
		<script>
		window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
		ga('create', 'UA-122023989-1', 'auto');
		ga('send', 'pageview');
		</script>
		{% endif %}
		<script async src='https://www.google-analytics.com/analytics.js'></script>
		<!-- End Google Analytics -->

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% compress css inline %}
		<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" disabled>
		<link rel="stylesheet" href="{% static 'css/all.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
		{% block css %}
		{% endblock %}
		{% endcompress %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8">
		{% block meta_tags %}
		{% endblock %}
		<title>
		{% block title %}
		{% endblock %}
		</title>
	</head>
	<body>	
		
		{% block content %}
			
		{% endblock %}
		{% compress js %}
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/materialize.min.js' %}"></script>
		<script src="{% static 'js/materialize-include.js' %}"></script>
		<script src="{% static 'js/lazysizes.min.js' %}"></script>
		<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/main.js' %}"></script>
		{% register_notify_callbacks callbacks='my_fill_notification_badge,my_notification_callback' %}

		{% block scripts %}
		{% endblock %}
		{% endcompress %}
	</body>
</html>