{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% block css %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block meta_tags %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
  </head>

  <body>
    <div class="red lighten-4">
      
    {% block content %}
    
    {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="{% static 'js/materialize-include.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>