{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% compress css inline %}
		<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" disabled>
		<link rel="stylesheet" href="{% static 'css/all.css' %}">
		{% block css %}
		{% endblock %}
		{% endcompress %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{% block meta_tags %}
		{% endblock %}
		<title>
		{% block title %}
		{% endblock %}
		</title>
	</head>
	<body>	
		
		{% block content %}
			
		{% endblock %}
		{% compress js %}
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/materialize.min.js' %}"></script>
		<script src="{% static 'js/materialize-include.js' %}"></script>
		<script src="{% static 'js/main.js' %}" async></script>
		<script src="{% static 'js/lazysizes.min.js' %}"></script>
		{% block scripts %}
		{% endblock %}
		{% endcompress %}
	</body>
</html>