
{% extends "base_template.html" %}
{% load static %}
{% load thumbnail %}
{% load main_extras %}
{% block css %}
{% endblock %}
{% block meta_tags %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	

	{% include "mainapp/partials/meta_tags_homepage.html" %}
{% endblock %}
{% block title %}
	Codeilm - A storytelling site for developers
{% endblock %}
{% block content %} <!-- blue lime -->
{% include "mainapp/partials/simple-navbar.html" %}

{% if request.user.is_impersonate %}
	{{ request.impersonator.username }} is impersonating {{ request.user.username }}
{% endif %}

{% if messages %}
	{% for message in messages %}
		<div class="row">
			<div class="col s12 center">
				<p class="center-align"></p>
				<div class="chip {{ message.tags }}">
					{{ message }}
					<i class="close material-icons">close</i>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}

<div class="container">
	<div class="row">
		<div class="col l9 s12">
			<h2>A place where the world🌎 <br/>meets developers👨‍💻</h2>
		</div>
		<div class="col l12 s12">
			<a href="/stories"></a>
			<button onclick="window.location = '/stories'" class="btn waves-effect btn-large waves-light" style="margin-top: 1.52rem; background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%); font-size: 1.3rem; text-transform: none;" type="submit" name="action">Read Stories
			    <img height="35" style="margin-bottom: -12px;" src="{% static 'images/logo/codeilmicon.png' %}" alt="Codeilm">
			</button>
		</div>
	</div>


	<div class="row" style="padding-top: 70px;">
	<h5 style="padding-left: 0.75rem">Few stories on Codeilm</h5>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">How to create Ripple Effect using React</span>
          <p>Read how <a href="/u/dhilipkmr-79"><b>Dhilip</b></a> made Ripple Effect using React JS.</p>
        </div>
          <div class="card-action">
          <a class="waves-effect waves-light btn" href="/stories/wLNBnN2/how-to-create-ripple-effect-using-react" style="text-transform: none; background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);">Read Now</a>
	      </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">How I made the "Add to Cart" feature</span>
          <p>Read how <a href="/u/mohammad39-63"><b>Shahrukh</b></a> implemented the "Add to Cart" feature for his website.</p>
        </div>
          <div class="card-action">
          <a class="waves-effect waves-light btn" href="/stories/pVyOrv3/how-i-made-the-add-to-cart-feature-on-robasquareco" style="text-transform: none; background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);">Read Now</a>
	      </div>
      </div>
    </div>
  </div>


  <div class="row" style="padding-top: 70px;">
  	<h5 style="padding-left: 0.75rem">Want to get stories delivered to your inbox?<br/> Just let us know your email 😊</h5>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Your Email</label>
        </div>
        <div class="col s6" style="margin-top: 1rem;">
        	<a class="waves-effect waves-light btn" style="text-transform: none; background: linear-gradient(45deg, #FE6B8B 30%, #f20e02 90%);">Notify Me</a>
        </div>
      </div>
    </form>
  </div>


	<div class="row" style="padding-top: 70px; color: #3f51b5">
		<div class="col l4 s4 m4 s12">
			<h3 style="text-decoration: underline;">Stories</h3>
			<h5>Create "beautiful" stories explaining how you made your project in steps</h5>
		</div>
		<div class="col l8 s8 m8 s12">
			<img width="100%" class="lazyload z-depth-3" data-src="{% static 'images/screenshots/main.png' %}">
		</div>
	</div>

	<div class="row" style="color: #3f51b5">
		<div class="col l4 s4 m4 s12">
			<h3 style="text-decoration: underline;">Markdown</h3>
			<h5>Use your "favourite" markup language to create your stories.</h5>
		</div>
		<div class="col l8 s8 m8 s12">
			<img width="100%" class="lazyload z-depth-3" data-src="{% static 'images/screenshots/editor.png' %}">
		</div>
	</div>

	<div class="row" style="color: #3f51b5">
		<div class="col l4 s4 m4 s12">
			<h3 style="text-decoration: underline;">Metrics</h3>
			<h5>Keep an eye on how your story performs over time</h5>
		</div>
		<div class="col l8 s8 m8 s12">
			<img width="100%" class="lazyload z-depth-3" data-src="{% static 'images/screenshots/metrics.png' %}">
		</div>
	</div>
</div>
	
	<div class="row hide-on-small-only">
		<div class="col s1"></div>
		<div class="col s10">
			<h3 class="center" id="why-codeilm">Why Codeilm ?</h3>
			<p class="center flow-text">Read the story of Russell to find out why you need Codeilm</p>
				<div class="row">
				<div class="col s12">
				    <div class="card z-depth-0 horizontal">
				      <div class="card-image">
				        <img class="lazyload" data-src="{% static 'images/story/Russell2.png' %}">
				      </div>
				      <div class="card-stacked">
				        <div class="card-content valign-wrapper">
				          <p class="flow-text">After his adventures at the Paradise falls in South America, Russell is all set to learn programming and apply for programming jobs.
							<br/>
							If someone asks him <b>"what"</b> all projects he did?
							He forwards them his <b>LinkedIn</b> profile.
							<br/>
							If someone asks him about the <b>source code</b> of his projects, he gives them the <b>GitHub</b> repo url.
						</p>
						</div>
						</div>
					</div>
				</div>
				</div>

				<div class="row">
					
				<div class="col s12">
					<div class="card z-depth-0 horizontal">
						<div class="card-image">
						<img class="lazyload" data-src="{% static 'images/story/Russell.jpg' %}">
						</div>
						<div class="card-stacked">
						<div class="card-content valign-wrapper">
				          <p class="flow-text">
							But then one day Mr. Fredricksen, Dug and Kevin came asking <b>"how"</b> he made his awesome projects and tell them the <b>story of their projects</b>. <br/>
							Russell didn't know what to give them.
							</p>
				        </div>
				      </div>
				    </div>
				  </div>

				</div>


				<div class="row">
					<div class="col s12">
				    <div class="card z-depth-0 horizontal">
				      <div class="card-image">
				        <img class="lazyload" data-src="{% static 'images/story/Russell3.png' %}">
				      </div>
				      <div class="card-stacked">
				        <div class="card-content valign-wrapper">
				          <p class="flow-text">
							Then one day he discovered exactly what he needed.
							<br/>
							<img class="lazyload" width="100%" alt="codeilm" data-src="{% static 'images/logo/codeilmbanner.png' %}">
							<br/>
							So he created a <b>"beautiful"</b> story of his <b>"awesome"</b> project, and shared it with the world.
							<br/>
							Everyone was very happy with him and his school gave him yet another badge for the <b>"Best Programmer"</b>
				          </p>
				        </div>
				      </div>
				    </div>
				  </div>
				</div>

		</div>
		<div class="col s1"></div>
	</div>

	<div class="row hide-on-med-and-up">
		<div class="col s1"></div>
		<div class="col s10">
			<h3 class="center" id="why-codeilm">Why Codeilm ?</h3>
			<p class="center flow-text">Read the story of Russell to find out why you need Codeilm</p>
				<div class="row">
					<div class="col s2"></div>
				<div class="col s8">
			        <img width="100%" class="lazyload" data-src="{% static 'images/story/Russell2.png' %}">
				</div>
				<div class="col s12">
					<p class="flow-text">After his adventures at the Paradise falls in South America, Russell is all set to learn programming and apply for programming jobs.
							<br/>
							If someone asks him <b>"what"</b> all projects he did?
							He forwards them his <b>LinkedIn</b> profile.
							<br/>
							If someone asks him about the <b>source code</b> of his projects, he gives them the <b>GitHub</b> repo url.
						</p>
				</div>
				</div>
				<div class="row">
				<div class="col s12">
						<img width="100%" class="lazyload" data-src="{% static 'images/story/Russell.jpg' %}">
				  </div>
				  <div class="col s12">
				  	<p class="flow-text">
							But then one day Mr. Fredricksen, Dug and Kevin came asking <b>"how"</b> he made his awesome projects and tell them the <b>story of their projects</b>. <br/>
							Russell didn't know what to give them.
							</p>

				  </div>

				</div>


				<div class="row">
					<div class="col s2"></div>
					<div class="col s8">
				        <img width="100%" class="lazyload" data-src="{% static 'images/story/Russell3.png' %}">
				  </div>
				  <div class="col s12">
				  	<p class="flow-text">
							Then one day he discovered exactly what he needed.
							<br/>
							<img class="lazyload" width="100%" alt="codeilm" data-src="{% static 'images/logo/codeilmbanner.png' %}">
							<br/>
							So he created a <b>"beautiful"</b> story of his <b>"awesome"</b> project, and shared it with the world.
							<br/>
							Everyone was very happy with him and his school gave him yet another badge for the <b>"Best Programmer"</b>
				          </p>
				  </div>
				</div>

		</div>
		<div class="col s1"></div>
	</div>	


<footer class="page-footer white z-depth-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Codeilm</h5>
        <p class="black-text text-lighten-4">A storytellling site for developers</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="black-text text-lighten-3" href="https://www.facebook.com/Codeilm-583644822460909">Facebook</a></li>
          <li><a class="black-text text-lighten-3" href="https://www.linkedin.com/company/codeilm">LinkedIn</a></li>
          <li><a class="black-text text-lighten-3" href="https://www.youtube.com/channel/UC9-UILXUR8gV4Fw8eQ4hZSQ">YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black-text">
    <div class="container back-text">
    © {% now "Y" %} Codeilm.com
    </div>
  </div>
</footer>

{% endblock %}

{% block scripts %}
{% endblock %}