
{% extends "base_template.html" %}
{% load static %}
{% load thumbnail %}
{% load main_extras %}
{% block css %}
{% endblock %}
{% block meta_tags %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	

	{% include "mainapp/partials/meta_tags_homepage.html" %}
{% endblock %}
{% block title %}
	Codeilm - A storytelling site for developers
{% endblock %}
{% block content %} <!-- blue lime -->
{% include "mainapp/partials/simple-navbar.html" %}
{% if messages %}
	{% for message in messages %}
		<div class="row">
			<div class="col s12 center">
				<p class="center-align"></p>
				<div class="chip {{ message.tags }}">
					{{ message }}
					<i class="close material-icons">close</i>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}

<a href="/stories">Read Stories</a>



{% endblock %}

{% block scripts %}
{% endblock %}