<!DOCTYPE html>
<html>
<head>
	<title>Codeilm</title>
	<meta name="description" content="Codeilm is the online community for developers to Share, Inspire & Teach how they build their Projects, in the form of Tutorials using Markdown."/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
		<meta property="og:type" content="website" />
    <meta property="og:title" content="Codeilm - A storytelling site for developers" />
    <meta property="og:description" content="Codeilm is the online community for developers to Share, Inspire & Teach how they build their Projects, in the form of Tutorials using Markdown." />
    <meta property="og:url" content="https://codeilm.com" />
    <meta property="og:image" content="https://codeilm.com/static/images/logo/codeilm.png" />
		<link rel="mask-icon" href="https://allywith.com/static/images/logo/codeilmicon.png">
</head>
<body>
<h1>Codeilm</h1>
</body>
</html>
