{% extends "base_template.html" %}
{% load thumbnail %}
{% block title %}
{% endblock %}
{% block content %}
	{% include "mainapp/partials/simple-navbar.html" %}
	<div class="container">
		{% if groups %}
		{% for group in groups %}
			{% cycle "<div class='row'>" "" %}
				
				<div class="col s12 m6">
					<div class="card">
						<div class="card-image">
							<a href="{{ group.get_absolute_url }}">
								{% thumbnail group.image "1200x1000" as big %}
									{% thumbnail group.image "120x100" as small %}
										<img src="{{ small.url }}" data-sizes="auto" data-src="{{ big.url }}" class="lazyload">
									{% endthumbnail %}
								{% endthumbnail %}
							</a>
							<a onclick="return confirm('Join the group {{ group.name }}')" class="btn-floating halfway-fab waves-effect waves-light light-blue darken-2" href="{% url 'mainapp:group_join' id=group.id slug=group.slug community='ramzaan' %}"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content">
							<a href="{{ group.get_absolute_url }}">
								<span class="card-title">{{ group.name }}</span>
							</a>
							<p>
								{{ group.target_statement }}
							</p>
						</div>
					</div>
				</div>
			{% cycle "" "</div>" as ending %}
			{% if forloop.last %}
				{% if ending == "" %}
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
	{% else %}
	<h4 class="grey-text center">
		There are no groups in this community yet
	</h4>
	<p class="center">We will let you know when we launch new groups in this community.</p>
	<div class="row center">
	<form method="POST" action="{% url 'feedback:save_feedback_response' %}">
		{% csrf_token %}
	    <div class="input-field col s6">
	      <input name="value" id="feedback_email" type="email" class="validate">
	      <label class="active" for="feedback_email">Email</label>
	      <input type="hidden" name="key" value="{{ feedback_event.name }} email ids">
	      <input type="hidden" name="event_id" value="{{ feedback_event.id }}">
	    </div>
	</form>
	  </div>
	    <button class="btn waves-effect waves-light light-blue darken-2 no-capital-button" type="submit" name="action">Submit
		    <i class="material-icons right">send</i>
		  </button>
	{% endif %}
</div>
{% endblock %}


