{% extends "base_template.html" %}
{% load static %}
{% load thumbnail %}
{% load main_extras %}
{% block css %}
{% endblock %}
{% block meta_tags %}
	{% include "mainapp/partials/meta_tags_homepage.html" %}
{% endblock %}
{% block title %}
	Welcome to Allywith | Meet with Purpose
{% endblock %}
{% block content %} <!-- blue lime -->
{% include "mainapp/partials/simple-navbar.html" %}

{% if messages %}
	{% for message in messages %}
		<div class="row">
			<div class="col s12 center">
				<p class="center-align"></p>
				<div class="chip {{ message.tags }}">
					{{ message }}
					<i class="close material-icons">close</i>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}

<div class="row container">

      <div class="col s4 center">
          <h2><i class="medium material-icons amber-text">favorite_border</i></h2>
			<p class="flow-text">Update your status as you go about achieving your goal</p>
      </div>
      <div class="col s4 center">
        <h2><i class="fas fa-dove amber-text"></i></h2>
        <p class="flow-text">Motivate your friends in achieving the goal</p>
      </div>
      <div class="col s4 center">
        <h2><i class="medium material-icons amber-text">person_add</i></h2>
        <p class="flow-text">Follow your friends</p>
      </div>

</div>
<div class="container">

	<div class="row">
	    <div class="col s12">
	      <div class="card">
	        <div class="card-content amber">
	          <p class="flow-text center">
				Update your status and let your friends know where you reached
	          </p>
	        </div>
	        <div class="card-image">
				<video autoplay muted loop playsinline class="responsive-video" poster="{% static 'images/video-poster/statusupdate.png' %}">
					<source preload="none" src="{% static 'videos/clips/statusupdate/statusupdate.mp4' %}" type="video/mp4">
					<source preload="none" src="{% static 'videos/clips/statusupdate/statusupdate.webm' %}" type="video/webm">
					<source preload="none" src="{% static 'videos/clips/statusupdate/statusupdate.ogv' %}" type="video/ogg">
				</video>
	        </div>

	      </div>
	    </div>
	  </div>

	<div class="row">
		<div class="col s12">
	      <div class="card">
			<div class="card-content amber">
	          <p class="flow-text center">
				Know who is leading the race by sorting on basis of progress
	          </p>
	        </div>
	        <div class="card-image">
				<video autoplay muted loop playsinline class="responsive-video" poster="{% static 'images/video-poster/sortbystatus.png' %}">
					<source preload="none" src="{% static 'videos/clips/sortbystatus/sortbystatus.mp4' %}" type="video/mp4">
					<source preload="none" src="{% static 'videos/clips/sortbystatus/sortbystatus.webm' %}" type="video/webm">
					<source preload="none" src="{% static 'videos/clips/sortbystatus/sortbystatus.ogv' %}" type="video/ogg">
				</video>
	        </div>
	      </div>
	    </div>
	  </div>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}