{% extends "base_template.html" %}
{% load static %}
{% load thumbnail %}
{% load main_extras %}
{% block css %}
{% endblock %}
{% block meta_tags %}
	{% include "mainapp/partials/meta_tags_homepage.html" %}
{% endblock %}
{% block title %}
	Welcome to Allywith | Meet with Purpose
{% endblock %}
{% block content %} <!-- blue lime -->
{% include "mainapp/partials/simple-navbar.html" %}

{% if messages %}
	{% for message in messages %}
		<div class="row">
			<div class="col s12 center">
				<p class="center-align"></p>
				<div class="chip {{ message.tags }}">
					{{ message }}
					<i class="close material-icons">close</i>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}

<div class="row container">

      <div class="col s4 center">
          <h2><i class="medium material-icons amber-text">favorite_border</i></h2>
			<p class="flow-text">Update your status as you go about achieving your goal</p>
      </div>
      <div class="col s4 center">
        <h2><i class="fas fa-dove amber-text"></i></h2>
        <p class="flow-text">Motivate your friends in achieving the goal</p>
      </div>
      <div class="col s4 center">
        <h2><i class="medium material-icons amber-text">person_add</i></h2>
        <p class="flow-text">Follow your friends</p>
      </div>

</div>

<div class="section center">
	<a class="waves-effect waves-light btn light-blue darken-2 no-capital-button" href="{% url 'ramzaan:group_detail' id=4 slug='surah-al-kahf' %}">Visit the Group</a>
</div>
<div class="divider"></div>

<div class="section">
	<div class="row">
		<div class="col l5 s12 flow-text center">
			<h4 class="amber-text text-darken-1">
				Update status
			</h4>
			<p>
				Update your status and let your friends know where you reached
			</p>
		</div>
		<div class="col l7 s12">
			<video autoplay muted loop playsinline class="responsive-video" poster="{% static 'images/video-poster/statusupdate.png' %}">
				<source preload="none" src="{% static 'videos/clips/statusupdate/statusupdate.mp4' %}" type="video/mp4">
				<source preload="none" src="{% static 'videos/clips/statusupdate/statusupdate.webm' %}" type="video/webm">
				<source preload="none" src="{% static 'videos/clips/statusupdate/statusupdate.ogv' %}" type="video/ogg">
			</video>
		</div>
	</div>
</div>
<div class="divider"></div>

<div class="section center">
	<a class="waves-effect waves-light btn light-blue darken-2 no-capital-button" href="{% url 'ramzaan:group_detail' id=4 slug='surah-al-kahf' %}">Visit the Group</a>
</div>

<div class="divider"></div>
<div class="section">
	<div class="row">
		<div class="col l5 s12 flow-text center">
			<h4 class="amber-text text-darken-1">
				Follow and Motivate
			</h4>
			<p>
				Motivate your friends to reach the target and follow them to get notified about their status updates
			</p>
		</div>
		<div class="col l7 s12">
			<video autoplay muted loop playsinline class="responsive-video" poster="{% static 'images/video-poster/followmotivate.png' %}">
				<source preload="none" src="{% static 'videos/clips/followmotivate/followmotivate.mp4' %}" type="video/mp4">
				<source preload="none" src="{% static 'videos/clips/followmotivate/followmotivate.webm' %}" type="video/webm">
				<source preload="none" src="{% static 'videos/clips/followmotivate/followmotivate.ogv' %}" type="video/ogg">
			</video>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="section center">
	<a class="waves-effect waves-light btn light-blue darken-2 no-capital-button" href="{% url 'ramzaan:group_detail' id=4 slug='surah-al-kahf' %}">Visit the Group</a>
</div>

<div class="divider"></div>
<div class="section">
	<div class="row">
		<div class="col l5 s12 flow-text center">
			<h4 class="amber-text text-darken-1">
				See progress
			</h4>
			<p>
				See the progress of your friends and know who is leading the race by sorting on the basis of progress made
			</p>
		</div>
		<div class="col l7 s12">
			<video autoplay muted loop playsinline class="responsive-video" poster="{% static 'images/video-poster/sortbystatus.png' %}">
				<source preload="none" src="{% static 'videos/clips/sortbystatus/sortbystatus.mp4' %}" type="video/mp4">
				<source preload="none" src="{% static 'videos/clips/sortbystatus/sortbystatus.webm' %}" type="video/webm">
				<source preload="none" src="{% static 'videos/clips/sortbystatus/sortbystatus.ogv' %}" type="video/ogg">
			</video>
		</div>
	</div>
</div>

<div class="divider"></div>
<div class="section">
	<div class="row">
		<div class="col l5 s12 flow-text center">
			<h4 class="amber-text text-darken-1">
				Notifications
			</h4>
			<p>
				Get notified about the motivations you receive from your friends
			</p>
		</div>
		<div class="col l7 s12">
			<video autoplay muted loop playsinline class="responsive-video" poster="{% static 'images/video-poster/notifications.png' %}">
				<source preload="none" src="{% static 'videos/clips/notifications/notifications.mp4' %}" type="video/mp4">
				<source preload="none" src="{% static 'videos/clips/notifications/notifications.webm' %}" type="video/webm">
				<source preload="none" src="{% static 'videos/clips/notifications/notifications.ogv' %}" type="video/ogg">
			</video>
		</div>
	</div>
</div>



<div class="divider"></div>
<div class="section">
	<div class="row">
		<div class="col l5 s12 flow-text center">
			<h4 class="amber-text text-darken-1">
				Recent Activities
			</h4>
			<p>
				See all the activities happening in the group
			</p>
		</div>
		<div class="col l7 s12">
			<video autoplay muted loop playsinline class="responsive-video" poster="{% static 'images/video-poster/recentactivities.png' %}">
				<source preload="none" src="{% static 'videos/clips/recentactivities/recentactivities.mp4' %}" type="video/mp4">
				<source preload="none" src="{% static 'videos/clips/recentactivities/recentactivities.webm' %}" type="video/webm">
				<source preload="none" src="{% static 'videos/clips/recentactivities/recentactivities.ogv' %}" type="video/ogg">
			</video>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="section center">
	<a class="waves-effect waves-light btn light-blue darken-2 no-capital-button" href="{% url 'ramzaan:group_detail' id=4 slug='surah-al-kahf' %}">Visit the Group</a>
</div>
<div class="divider"></div>
{% endblock %}

{% block scripts %}
{% endblock %}