{% extends "base_template.html" %}
{% load static %}
{% load thumbnail %}
    {% block css %}
    {% endblock %}

    {% block meta_tags %}
    {% include "mainapp/partials/meta_tags_homepage.html" %}
    {% endblock %}

    {% block title %}
    Welcome to Allywith | Meet with Purpose
    {% endblock %}

    {% block content %} <!-- blue lime -->
    {% include "mainapp/partials/simple-navbar.html" %}

    <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
        <div class="background">
          <img src="{% static 'images/user_background_image/user_background.jpg' %}">
        </div>
        <a>
          {% thumbnail request.user.user_profile.first.get_profile_pic_url "100x100" as im %}
              <img class="circle" src="{{ im.url }}" alt="{{ request.user.get_full_name }}">
          {% endthumbnail %}
        </a>
        <a href="#name"><span class="white-text name">{{ request.user.get_full_name }} </span></a>
      </div></li>
      <li><a href="{% url 'feedback:feedback_page' id=1 slug='the-sealed-nector' %}"><i class="material-icons teal-text text-darken-3 left">feedback</i>Feedback</a></li>
      <li><div class="divider"></div></li>
      <form method="POST" id="logout-form-small" action="{% url 'account_logout' %}">
         {% csrf_token %}
        <li><a onclick="document.getElementById('logout-form-small').submit();"><i class="material-icons teal-text text-darken-3 left">power_settings_new</i>Logout</a></li>
      </form>
    </ul>

    <ul id='dropdown-useroptions' class='dropdown-content'>
      <li><a href="{% url 'feedback:feedback_page' id=1 slug='the-sealed-nector' %}"><i class="material-icons teal-text text-darken-3 left">feedback</i>Feedback</a></li>
      <li class="divider" tabindex="-1"></li>
      <form method="POST" id="logout-form" action="{% url 'account_logout' %}">
         {% csrf_token %}
        <li><a onclick="document.getElementById('logout-form').submit();"><i class="material-icons teal-text text-darken-3 left">power_settings_new</i>Logout</a></li>
      </form>
    </ul>
     {% include "mainapp/partials/community_slider.html" %}
     {% include "mainapp/partials/login-panel.html" %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
