{% load static %}
{% load thumbnail %}
{% load main_extras %}
<nav class="nav-extended amber" style="color: red;">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">
			<img class="responsive-img" src="{% static 'images/logo/logo-transparent.png' %}" style="padding-top: 5px;" height="200" width="200">
		</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<!-- sidenav content -->
		<ul class="sidenav" id="mobile-demo">
			<li><a class="light-blue-text text-darken-4" href="{% url 'feedback:feedback_page' id=1 slug='the-sealed-nector' %}"><i class="material-icons light-blue-text text-darken-4 left">feedback</i>Feedback</a></li>
			<li class="divider" tabindex="-1"></li>
			<form method="POST" id="logout-form" action="{% url 'account_logout' %}">
				{% csrf_token %}
				<li><a class="light-blue-text text-darken-4" onclick="document.getElementById('logout-form').submit();"><i class="material-icons light-blue-text text-darken-4 left">power_settings_new</i>Logout</a></li>
			</form>
		</ul>
		<!-- sidenav content -->
		<ul class="right hide-on-med-and-down">
			<li id="notifications-count-active" style="display: none;">
				<a class="waves-effect waves-light dropdown-trigger-notification dropdown-trigger btn-small red pulse" style="border-radius: 20px;" data-target='dropdown-notifications'>
					<i class="material-icons right">notifications_active</i>
					<span id="notifications-count"></span>
				</a>
				<!-- dropdown content -->
				<ul id='dropdown-notifications' class='dropdown-content collection'>

				</ul>
				<!-- dropdown content -->
			</li>
			<li id="no-notification">
				<a class="dropdown-trigger btn-small red transparent z-depth-0" data-target='dropdown-no-notification'>
					<i class="material-icons right black-text">notifications</i>
				</a>
				<!-- dropdown content -->
				<ul id='dropdown-no-notification' class='dropdown-content collection'>
					<li><a href="#!" class="grey-text"><i class="material-icons green-text">sentiment_satisfied_alt</i>No new Notification</a></li>
					<li class="divider" tabindex="-1"></li>
					<li><a href="#!"><i class="material-icons">list</i>See all your notifications</a></li>
				</ul>
				<!-- dropdown content -->
			</li>
			<li>
				<div class="chip transparent dropdown-trigger" style="cursor: pointer;" data-target='dropdown-useroptions'>
					{% if request.user.is_authenticated %}
					{% thumbnail request.user.user_profile.first.get_profile_pic_url "100x100" crop="center" as im %}
					<img src="{{ im.url }}" alt="{{ request.user|user_display_name }}">
					{% endthumbnail %}
					{{ request.user|user_display_name }}
					{% endif %}
			</div>
			<!-- dropdown content -->
			<ul id='dropdown-useroptions' class='dropdown-content'>
				<li><a class="light-blue-text text-darken-4" href="{% url 'feedback:feedback_page' id=1 slug='the-sealed-nector' %}" ><i class="material-icons left">feedback</i>Feedback</a></li>
				<li class="divider" tabindex="-1"></li>
				<form method="POST" id="logout-form" action="{% url 'account_logout' %}">
					{% csrf_token %}
					<li><a class="light-blue-text text-darken-4" onclick="document.getElementById('logout-form').submit();"><i class="material-icons teal-text text-darken-3 left">power_settings_new</i>Logout</a></li>
				</form>
			</ul>
			<!-- dropdown content -->
		</li>
	</ul>
</div>
<div class="nav-content center-align">
	<a class="modal-trigger" href="#modal2">
		<span class="nav-title black-text">{{ group.name }}</span>
	</a>
</div>
</nav>

<div id="modal2" class="modal bottom-sheet">
	<div class="modal-content">
		<h4>{{ group.name }}</h4>
		<p class="flow-text">
	      {{ group.description|linebreaks }}

	      <br>
	      <b>Aim of this group</b>
	      {{ group.target_statement|linebreaks }}
	  </p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>