{% load thumbnail %}
{% load main_extras %}
{% load static %}
<div class="col l8 m12 s12">

<div class="row hide-on-med-and-up">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          {% thumbnail group.image "500x500" as img %}
			<img src="{{ img.url }}" alt="{{ group.name }}">
		{% endthumbnail %}
        </div>
      </div>
    </div>
  </div>

<div class="row">
	<div class="col s12">
	<div class="card horizontal">
	  <div class="card-image hide-on-small-only">
		{% thumbnail group.image "500x500" as img %}
			<img src="{{ img.url }}" alt="{{ group.name }}">
		{% endthumbnail %}
	  </div>
	  <div class="card-stacked">
	    <div class="card-content">
	      <p class="flow-text">
	      {{ group.description|linebreaks }}

	      <br>
	      <b>Aim of this group</b>
	      {{ group.target_statement|linebreaks }}
		  </p>
	    </div>
	  </div>
	</div>
	</div>
</div>


	<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p>
          	{% for user in users|first_n_items:3 %}
			<div class="chip light-blue black-text">
				<img src="{% static 'images/default_profile_pic/default_small.png' %}" data-src="{{ user.user_profile.first.get_profile_pic_url }}" alt="{{ user.first_name }}" data-sizes="auto" class="lazyload">
		        {{ user|user_display_name }}
		    </div>
			{% endfor %}

			{% if users|length > 3 %}
					And {{ users|length|add:-3 }} more people
			{% endif %}
			{{ users|length|pluralize:"is, are" }} in this group
          </p>
        </div>
        <div class="card-action">
          <p class="center">
				Login to Join this group
			</p>
			<div class="center">
				{% include "mainapp/partials/login-panel.html" %}
			</div>
        </div>
      </div>
    </div>
  </div>

</div>