{% extends "base_template.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
	Unsubscribe from Allywith
{% endblock %}
{% block content %} <!-- blue lime -->
{% include "mainapp/partials/simple-navbar.html" %}
<ul id="slide-out" class="sidenav">
	<li>
		<div class="user-view">
			<div class="background">
				<img class="lazyload" src="{% static 'images/user_background_image/user_background.jpg' %}">
			</div>
			<a>
			{% thumbnail request.user.user_profile.first.get_profile_pic_url "100x100" as im %}
				<img class="circle lazyload" src="{{ im.url }}" alt="{{ request.user.get_full_name }}">
			{% endthumbnail %}
			</a>
			<a href="#name">
				<span class="white-text name">{{ request.user.get_full_name }}
				</span>
			</a>
		</div>
	</li>
	<li>
		<a href="{% url 'feedback:feedback_page' id=1 slug='the-sealed-nector' %}">
			<i class="material-icons teal-text text-darken-3 left">feedback</i>Feedback
		</a>
	</li>
	<li>
		<div class="divider"></div>
	</li>
	<li>
		<form method="POST" id="logout-form-small" action="{% url 'account_logout' %}">
		{% csrf_token %}
			<a onclick="document.getElementById('logout-form-small').submit();"><i class="material-icons teal-text text-darken-3 left">power_settings_new</i>Logout</a>
		</form>
	</li>
</ul>

<h3 class="center">Sorry to see you go {{ request.GET.name }}!!</h3>
<div class="container">
	<form method="POST" action=".">{% csrf_token %}
		<div class="row center">
			<div class="col s12">
				<img class="responsive-img center lazyload" src="{% static 'emailmanager/images/sad-minion.png' %}" height="210" width="130">
				<div class="input-field col s12">
		          <input id="email" value="{{ request.GET.email }}" name="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
			</div>
			<!-- <div class="col s3">
				<a class="waves-effect waves-light btn">Unsubscribe</a>
			</div> -->
		</div>
		<div class="row center">
			<div class="col s12">
				<button class="btn waves-effect waves-light" type="submit" name="action">Unsubscribe
				    <i class="material-icons right">send</i>
				  </button>
			</div>
		</div>
	</form>
</div>


<div class="center">
  <div class="row">
    <form class="col s6">
      <div class="row">
        
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}