{% extends "base_template.html" %}
{% load ramzaan_extras %}
{% load thumbnail %}
{% load static %}
{% block meta_tags %}
	
{% endblock %}
{% block title %}
	Allywith | Coding
{% endblock %}
	<script type="text/javascript" src="{% static 'coding/css/coding.ui.css' %}"></script>
{% block css %}

{% endblock %}
{% block content %}
	
{% if messages %}
	{% for message in messages %}
		<div class="row">
			<div class="col s12 center">
				<p class="center-align"></p>
				<div class="chip {{ message.tags }}">
					{{ message }}
					<i class="close material-icons">close</i>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}
	<noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'coding/js/coding.ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'coding/js/service-worker.js' %}"></script>
{% endblock %}