.notification-text {
	margin-left: -10px !important;
	margin-top: 5px !important;
}

.notification-list-item {
	width: 320px !important;
}


/* label color */
.input-field label {
	color: #9e9e9e;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #0277bd;
	box-shadow: 0 1px 0 0 #01579b;
}
textarea.materialize-textarea:focus {
	border-bottom: 1px solid #0277bd !important;
	box-shadow: 0 1px 0 0 #01579b !important;
}

.no-capital-button {
	text-transform: none;
}

.dropdown-content li>span {
	color: #0277bd;
}
