{% extends "base_template.html" %}
{% load i18n %}
{% load material_form %}
{% block title %}{% trans "Reset Password" %} | Allywith{% endblock %}
{% block meta_tags %}
  {% include "mainapp/partials/meta_tags_homepage.html" %}
{% endblock %}
{% block content %}

{% include "mainapp/partials/simple-navbar.html" %}

<div class="container">
    
    <h5>{% trans "Password Reset" %}</h5>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% form form=form %}{% endform %}
        <input class="btn waves-effect waves-light light-blue darken-2 no-capital-button" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    
</div>
{% endblock %}
