{% extends "base_template.html" %}
{% load material_form %}
{% load i18n %}


{% load account socialaccount %}
{% load material_form %}
{% block title %}{% trans "Reset Password" %} | Allywith{% endblock %}
{% block meta_tags %}
  {% include "mainapp/partials/meta_tags_homepage.html" %}
{% endblock %}


{% block content %}
{% include "mainapp/partials/simple-navbar.html" %}
<div class="container">

{% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
      </ul>
    </div>
    {% endif %}

    <h5>{% trans "Change Password" %}</h5>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% form form=form %}{% endform %}
         <button class="btn waves-effect waves-light light-blue darken-2 no-capital-button" type="submit" name="action">{% trans "Change Password" %}
    <i class="material-icons right">send</i>
  </button>
    </form>
    </div>
{% endblock %}
