{% extends "base_template.html" %}
{% load notifications_tags %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}

    <nav class="nav-extended">
      <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li id="notifications-count-active" style="display: none;">
          <a class="waves-effect waves-light dropdown-trigger-notification btn-small red pulse" style="border-radius: 20px;" data-target='dropdown-notifications'>
            <i class="material-icons right">notifications_active</i>
            <span id="notifications-count">4 new</span>
          </a>
        </li>
        <li id="no-notification">
          <a class="dropdown-trigger btn-small red transparent z-depth-0" data-target='dropdown-no-notification'>
            <i class="material-icons right black-text">notifications</i>
          </a>
        </li>
        <li>
          <div class="chip transparent dropdown-trigger" data-target='dropdown1'>
            <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="Contact Person">
            Mohammad Shahrukh
          </div>
        </li>
        <li>
          <a class="waves-effect waves-light btn dropdown-trigger transparent z-depth-0 black-text" style="text-transform: none;" data-target='dropdown2'><i class="material-icons right">arrow_drop_down</i>Show updates for</a>
        </li>
      </ul>
      </div>
      <div class="nav-content center-align">
        <a class="modal-trigger" href="#modal2">
          <span class="nav-title">Title</span>
        </a>
     <!--  <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal modal-trigger" href="#modal1">
        <i class="material-icons">add</i>
      </a> -->
       

      </div>
    </nav>

    {% if messages %}
    {% for message in messages %}
     

    <div class="row">
      <div class="col s12 center">
        <p class="center-align"></p>
        <div class="chip {{ message.tags }}">
          {{ message }}
          <i class="close material-icons">close</i>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}

  <!-- Modal Structure -->
  <div id="modal2" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!">three</a></li>
      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>

    <ul id='dropdown2' class='dropdown-content'>
      <li><a href="#!">msr</a></li>
      <li><a href="#!">shahrukh</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!">three</a></li>
      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>

    <ul id='dropdown-notifications' class='dropdown-content'>
      
    </ul>

    <ul id='dropdown-no-notification' class='dropdown-content'>
      
      <li><a href="#!" class="grey-text"><i class="material-icons green-text">sentiment_satisfied_alt</i>No new Notification</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#!"><i class="material-icons">list</i>See all your notifications</a></li>
    </ul>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
          


 <!-- Page Layout here -->
    <div class="row">
      {% include "partials/recent_activities_ramzaan.html" %}

      {% if user.is_authenticated %}
      {% include "partials/progress_section_ramzaan.html" %}
      {% else %}
      {% include "partials/non-loggedin-right-panel.html" %}
      {% endif %}

    </div>
          

    <span class="hide" id="mark_notifications_read_url" data-url="{% url 'mainapp:mark_notifications_read' %}"></span>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'ramzaan/js/ramzaan.js' %}"></script>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='my_fill_notification_badge,my_notification_callback' %}
<script type="text/javascript">
  
</script>
{% endblock %}
