{% extends "base_template.html" %}
{% load ramzaan_extras %}
{% load thumbnail %}
{% load static %}
{% block meta_tags %}
	{% include "mainapp/partials/meta_tags_homepage.html" %}
{% endblock %}
{% block title %}
	Allywith | {{ group.name }}
{% endblock %}
{% block css %}

{% endblock %}
{% block content %}
	
{% include "ramzaan/partials/nav-bar.html" %}
{% if messages %}
	{% for message in messages %}
		<div class="row">
			<div class="col s12 center">
				<p class="center-align"></p>
				<div class="chip {{ message.tags }}">
					{{ message }}
					<i class="close material-icons">close</i>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}
	<!-- Page Layout here -->
<div class="row">
	{% if group_options.user_is_loggedin %}
		{% if group_options.user_is_member %}
			{% include "ramzaan/partials/recent_activities_ramzaan.html" %}
			{% include "ramzaan/partials/progress_section_ramzaan.html" %}
		{% else %}
			{% include "ramzaan/partials/non-member-left-panel.html" %}
			{% include "ramzaan/partials/non-member-right-panel.html" %}
		{% endif %}
	{% else %}
		{% include "ramzaan/partials/non-logged-in-left-panel.html" %}
		{% include "ramzaan/partials/non-logged-in-right-panel.html" %}
	{% endif %}
</div>

<div class="fixed-action-btn hide-on-large-only">
  <a href="#" data-target="slide-out" class="btn-floating btn-large red sidenav-trigger">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>

<div id="slide-out" class="sidenav sidenav-recent-activity">
	{% if group_options.user_is_loggedin %}
		{% if group_options.user_is_member %}
			{% include "ramzaan/partials/recent_activities_ramzaan_mobile.html" %}
		{% else %}
			{% include "ramzaan/partials/non-member-left-panel.html" %}
		{% endif %}
	{% else %}
		{% include "ramzaan/partials/non-logged-in-left-panel-mobile.html" %}
	{% endif %}
</div>

	
<span class="hide" id="mark_notifications_read_url" data-url="{% url 'mainapp:mark_notifications_read' %}"></span>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'ramzaan/js/ramzaan.js' %}"></script>
{% endblock %}