<form action="#" id="status_update_form">
  <div class="row">
    <div class="input-field col s8 offset-s2">
      <i class="material-icons prefix">update</i>
      <input id="status_input" type="text" class="validate">
      <label for="status_input">Update Your status</label>
    </div>
    <div class="input-field col s8 offset-s2 hide show-on-status-focus">
      <select class="icons">
        <option value="" disabled selected>Choose your option</option>
        <option value="" data-icon="images/sample-1.jpg">example 1</option>
        <option value="" data-icon="images/office.jpg">example 2</option>
        <option value="" data-icon="images/yuna.jpg">example 3</option>
      </select>
      <label>Images in select</label>
    </div>
    
  </div>
  <div class="row hide show-on-status-focus">
    <div class="col s12 center-align">
      <button class="btn waves-effect waves-light" type="submit" name="action">Update
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>    
</form>