{% load static %}
{% load thumbnail %}
{% load main_extras %}
<meta name="description" content="Codeilm is the online community for developers to Share, Inspire & Teach how they build their Projects, in the form of Tutorials using Markdown.">
<meta name="keywords" content="Coding, Open Source community, Tutorials, Create Tutorials, Codeilm, Open Source Projects">
<link rel="mask-icon" href="{{ 'images/logo/codeilmicon.png'|static_absolute_uri }}" color="#ffffff">
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
<meta property="og:site_name" content="Codeilm">
<meta property="og:url"           content="{{ request.build_absolute_uri }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Codeilm" />
<meta property="og:description"   content="Codeilm is the online community for developers to Share, Inspire & Teach how they build their Projects, in the form of Tutorials using Markdown." />
<meta property="og:image"         content="{{ 'images/logo/codeilm.png'|static_absolute_uri }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="Codeilm">
<meta name="twitter:site:id" content="@Codeilm"/>
<meta name="twitter:site" content="@Codeilm">
<meta name="twitter:image" content="{{ 'images/logo/codeilm.png'|static_absolute_uri }}">
<meta name="twitter:title" content="Codeilm" />
<meta name="twitter:description" content="Codeilm is the online community for developers to Share, Inspire & Teach how they build their Projects, in the form of Tutorials using Markdown." />
<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta name="twitter:creator" content="@Codeilm"/>
<meta property="fb:app_id" content="621769221510268" />
<link rel="icon" type="image/png" href="{{ 'images/logo/codeilmicon.png'|static_absolute_uri }}" />
{% thumbnail 'images/logo/codeilmsq.png'|static_absolute_uri "57x57" as im %}
<link rel="apple-touch-icon" sizes="57x57" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/codeilmsq.png'|static_absolute_uri "60x60" as im %}
<link rel="apple-touch-icon" sizes="60x60" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/codeilmsq.png'|static_absolute_uri "72x72" as im %}
<link rel="apple-touch-icon" sizes="72x72" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/codeilmsq.png'|static_absolute_uri "76x76" as im %}
<link rel="apple-touch-icon" sizes="76x76" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/codeilmsq.png'|static_absolute_uri "114x114" as im %}
<link rel="apple-touch-icon" sizes="114x114" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/codeilmsq.png'|static_absolute_uri "120x120" as im %}
<link rel="apple-touch-icon" sizes="120x120" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/codeilmsq.png'|static_absolute_uri "144x144" as im %}
<link rel="apple-touch-icon" sizes="144x144" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/codeilmsq.png'|static_absolute_uri "152x152" as im %}
<link rel="apple-touch-icon" sizes="152x152" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/codeilmsq.png'|static_absolute_uri "180x180" as im %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ im.url }}">
{% endthumbnail %}

<meta name="msapplication-TileColor" content="#da502c">
<meta name="msapplication-TileImage" content="">
<meta name="theme-color" content="#ffffff">
<link rel="alternate" type="application/rss+xml" href="{{ request.build_absolute_uri }}" title="Updates" />
<link type="application/opensearchdescription+xml" rel="search" href="{% url 'opensearch' %}"/>
<!-- Meta tags : Start -->
<meta property="og:locale" content="en_US"/>
<meta property="twitter:app:name:iphone" content="Codeilm" />
<meta property="twitter:app:id:iphone" content="" />
<meta property="twitter:app:name:ipad" content="Codeilm" />
<!-- <meta property="twitter:app:id:ipad" content="" /> -->
<meta property="twitter:app:name:googleplay" content="Codeilm" />
<!-- <meta name="twitter:url" content="" > -->
<!-- <meta name="twitter:image" content="" > -->