{% load static %}
{% load thumbnail %}
{% load main_extras %}
<nav class="nav-extended amber">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo left hide-on-med-and-down">
			<img class="responsive-img" src="{% static 'images/logo/logo-transparent.png' %}" style="padding-top: 5px;" height="200" width="200">
		</a>
		<a href="/" class="brand-logo center hide-on-large-only">
			<img class="responsive-img" src="{% static 'images/logo/logo-transparent.png' %}" style="padding-top: 5px;" height="200" width="200">
		</a>
		<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li>
				<div class="chip transparent dropdown-trigger" style="cursor: pointer;" data-target='dropdown-useroptions'>
					{% thumbnail request.user.user_profile.first.get_profile_pic_url "100x100" as im %}
					<img src="{{ im.url }}" alt="{{ request.user|user_display_name }}">
					{% endthumbnail %}
					{{ request.user|user_display_name }}
				</div>
			</li>
			{% if not request.user.is_authenticated %}
				<a class="waves-effect waves-light btn light-blue darken-2 no-capital-button" href="{% url 'account_signup' %}">Signup Now</a>
			{% endif %}
	</ul>
</div>
</nav>

<ul id='dropdown-useroptions' class='dropdown-content'>
	<li>
		<a href="{% url 'feedback:feedback_page' id=1 slug='the-sealed-nector' %}"><i class="material-icons teal-text text-darken-3 left">feedback</i>Feedback</a>
	</li>
	<li class="divider" tabindex="-1"></li>
	<form method="POST" id="logout-form" action="{% url 'account_logout' %}">
	<li>
		{% csrf_token %}
		<a onclick="document.getElementById('logout-form').submit();"><i class="material-icons teal-text text-darken-3 left">power_settings_new</i>Logout</a>
	</li>
	</form>
</ul>