{% load static %}
{% load thumbnail %}
<nav class="nav-extended amber">
  <div class="nav-wrapper">
  <a href="/" class="brand-logo left hide-on-med-and-down">
    <img class="responsive-img" src="{% static 'images/logo/logo-transparent.png' %}" style="padding-top: 5px;" height="200" width="200">
  </a>
  <a href="/" class="brand-logo center hide-on-large-only">
    <img class="responsive-img" src="{% static 'images/logo/logo-transparent.png' %}" style="padding-top: 5px;" height="200" width="200">
  </a>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down">
    <li>
      <div class="chip transparent dropdown-trigger" style="cursor: pointer;" data-target='dropdown-useroptions'>
        {% thumbnail request.user.user_profile.first.get_profile_pic_url "100x100" as im %}
            <img src="{{ im.url }}" alt="{{ request.user.get_full_name }}">
        {% endthumbnail %}
        {{ request.user.get_full_name }}
      </div>
    </li>
  </ul>
  </div>
</nav>
