{% load static %}
<meta name="description" content="Imagine having a friend circle, where we motivate each other to achive something. Allywith provides you a platform where users meet and achieve a common target.">
<meta name="keywords" content="Ally, Achieve, Together, Collaborate">
<link rel="canonical" href="{{ request.build_absolute_uri }}" />

<meta property="og:site_name" content="Allywith">
<meta property="og:url"           content="{{ request.build_absolute_uri }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Allywith" />
<meta property="og:description"   content="Imagine having a friend circle, where we motivate each other to achive something. Allywith provides you a platform where users meet and achieve a common target." />
<meta property="og:image"         content="https://{{ request.get_host }}{% static 'images/first-image.png' %}" />
<meta property="og:image:width" content="1600" />
<meta property="og:image:height" content="836" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="Allywith">
<meta name="twitter:site:id" content="@Allywith"/>
<meta name="twitter:site" content="@Allywith">
<meta name="twitter:image" content="{{ top_image_path }}">
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ meta_description }}" />
<meta name="twitter:url" content="{{ canonical_url }}" />
<meta name="twitter:creator" content="@Allywith"/>


<meta property="fb:app_id" content="621769221510268" />




<link rel="shortcut icon" href="" />

<link rel="apple-touch-icon" sizes="57x57" href="">
<link rel="apple-touch-icon" sizes="60x60" href="">
<link rel="apple-touch-icon" sizes="72x72" href="">
<link rel="apple-touch-icon" sizes="76x76" href="">
<link rel="apple-touch-icon" sizes="114x114" href="">
<link rel="apple-touch-icon" sizes="120x120" href="">
<link rel="apple-touch-icon" sizes="144x144" href="">
<link rel="apple-touch-icon" sizes="152x152" href="">
<link rel="apple-touch-icon" sizes="180x180" href="">

<link rel="icon" type="image/png" href="" sizes="32x32.png">
<link rel="icon" type="image/png" href="" sizes="194x194">
<link rel="icon" type="image/png" href="" sizes="96x96">
<link rel="icon" type="image/png" href="" sizes="192x192">
<link rel="icon" type="image/png" href="" sizes="16x16">
<link rel="mask-icon" href="" color="#ffffff">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="">
<meta name="theme-color" content="#ffffff">
<link rel="alternate" type="application/rss+xml" href="" title="Updates   " />


<link type="application/opensearchdescription+xml" rel="search" href=""/>
<!-- Meta tags : Start -->

<meta property="og:locale" content="en-US"/>




<meta property="twitter:app:name:iphone" content="Allywith" />
<meta property="twitter:app:id:iphone" content="" />
<meta property="twitter:app:name:ipad" content="Allywith" />
<meta property="twitter:app:id:ipad" content="" />
<meta property="twitter:app:name:googleplay" content="Allywith" />
<meta name="twitter:url" content="" >


<meta name="twitter:image" content="" >


