<div class="col s8">
  {% include "partials/forms/status_update_form.html" %}
  <div class="divider hide show-on-status-focus"></div>

  {% for user in users %}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="right new badge" data-badge-caption="custom caption">4</span>
          <div class="row valign-wrapper">
            <div class="col s1">
              <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle responsive-img right"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="card-title" style="margin-left: -45px;">
                {{ user.get_full_name }}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col s10">
              <div class="progress">
                <div class="determinate" style="width: {{ user.ramzaan_userprogressuser.first.get_progress }}%"></div>
              </div>
              on ayat
            </div>
          <div class="col s2">
              <i class="material-icons amber-text tooltipped " data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">plus_one</i>
              <i class="material-icons amber-text tooltipped " data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">sentiment_very_satisfied</i>
          </div>
        </div>
          
        </div>
        <div class="card-action">
          <a class="btn-floating red add-pulse tooltipped" data-position="bottom" data-tooltip="Motivate this person"><i class="material-icons">thumb_up</i></a>
          <a class="btn-floating add-pulse tooltipped" data-position="bottom" data-tooltip="Motivate this person"><i class="material-icons">add</i></a>
          <a class="btn-floating add-pulse tooltipped" data-position="bottom" data-tooltip="Motivate this person"><i class="material-icons">send</i></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <ul class="collection" style="border: none;">
    <li class="collection-item avatar" style="border: none;">
      <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle">
      <span class="title">
        <b>
          Mohammad Shahrukh
        </b>
        <br>
        <span class="left new badge" data-badge-caption="custom caption">4</span>
        
        <i class="material-icons amber-text tooltipped right" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">plus_one</i>
      </span>
        <div class="row">
          <div class="col s10">
            <div class="progress">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
          <div class="col s2">
              <i class="material-icons amber-text tooltipped " data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">plus_one</i>
              <i class="material-icons amber-text tooltipped " data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">sentiment_very_satisfied</i>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <a class="btn-floating red add-pulse tooltipped" data-position="bottom" data-tooltip="Motivate this person"><i class="material-icons">thumb_up</i></a>
            <a class="btn-floating add-pulse tooltipped" data-position="bottom" data-tooltip="Motivate this person"><i class="material-icons">add</i></a>
            <a class="btn-floating add-pulse tooltipped" data-position="bottom" data-tooltip="Motivate this person"><i class="material-icons">send</i></a>
          </div>
          <div class="col s6 pulse">
          </div>
        </div>
        <div class="divider"></div>
      
    </li>
    <li class="collection-item avatar" style="border: none;">
      <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle">
      <span class="title"><b>Mohammad Shahrukh</b></span>
        <div class="row">
          <div class="col s10">
            <div class="progress">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
          <div class="col s2">
              <i class="material-icons amber-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">sentiment_very_satisfied</i>
              <i class="material-icons amber-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">plus_one</i>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            Memorized 5 ayats
          </div>
          <div class="col s6">
            
          </div>
        </div>
      
    </li>
  </ul>
</div>
