{% load static %}
{% load thumbnail %}
{% load main_extras %}
<meta name="description" content="{{ group.description }} | Aim of this group - {{ group.target_statement }}">
<meta name="keywords" content="Ally, Achieve, Together, Collaborate, Achieve Target, Timebound tasks, together, community">
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
<meta property="og:site_name" content="Allywith">
<meta property="og:url"           content="{{ request.build_absolute_uri }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Allywith" />
<meta property="og:description"   content="{{ group.description }} | Aim of this group - {{ group.target_statement }}" />
<meta property="og:image"         content="{{ group.image.url|static_absolute_uri }}" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="500" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="Allywith">
<meta name="twitter:site:id" content="@Allywith"/>
<meta name="twitter:site" content="@Allywith">
<meta name="twitter:image" content="{{ group.image.url|static_absolute_uri }}">
<meta name="twitter:title" content="Allywith" />
<meta name="twitter:description" content="{{ group.description }} | Aim of this group - {{ group.target_statement }}" />
<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta name="twitter:creator" content="@Allywith"/>
<meta property="fb:app_id" content="621769221510268" />
<link rel="shortcut icon" href="{{ 'images/logo/logo-circle.gif'|static_absolute_uri }}" />
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "57x57" as im %}
<link rel="apple-touch-icon" sizes="57x57" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "60x60" as im %}
<link rel="apple-touch-icon" sizes="60x60" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "72x72" as im %}
<link rel="apple-touch-icon" sizes="72x72" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "76x76" as im %}
<link rel="apple-touch-icon" sizes="76x76" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "114x114" as im %}
<link rel="apple-touch-icon" sizes="114x114" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "120x120" as im %}
<link rel="apple-touch-icon" sizes="120x120" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "144x144" as im %}
<link rel="apple-touch-icon" sizes="144x144" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "152x152" as im %}
<link rel="apple-touch-icon" sizes="152x152" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "180x180" as im %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ im.url }}">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "32x32" as im %}
<link rel="icon" type="image/png" href="{{ im.url }}" sizes="32x32">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "194x194" as im %}
<link rel="icon" type="image/png" href="{{ im.url }}" sizes="194x194">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "96x96" as im %}
<link rel="icon" type="image/png" href="{{ im.url }}" sizes="96x96">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "192x192" as im %}
<link rel="icon" type="image/png" href="{{ im.url }}" sizes="192x192">
{% endthumbnail %}
{% thumbnail 'images/logo/logo-square.png'|static_absolute_uri "16x16" as im %}
<link rel="icon" type="image/png" href="{{ im.url }}" sizes="16x16">
{% endthumbnail %}
<link rel="mask-icon" href="{{ 'images/logo/logo-circle.gif'|static_absolute_uri }}" color="#ffffff">
<meta name="msapplication-TileColor" content="#da502c">
<meta name="msapplication-TileImage" content="">
<meta name="theme-color" content="#ffffff">
<link rel="alternate" type="application/rss+xml" href="{{ request.build_absolute_uri }}" title="Updates" />
<link type="application/opensearchdescription+xml" rel="search" href="{% url 'opensearch' %}"/>
<!-- Meta tags : Start -->
<meta property="og:locale" content="en_US"/>
<meta property="twitter:app:name:iphone" content="Allywith" />
<meta property="twitter:app:id:iphone" content="" />
<meta property="twitter:app:name:ipad" content="Allywith" />
<!-- <meta property="twitter:app:id:ipad" content="" /> -->
<meta property="twitter:app:name:googleplay" content="Allywith" />
<!-- <meta name="twitter:url" content="" > -->
<!-- <meta name="twitter:image" content="" > -->