{% load static %}
<div class="col s8">
  {% include "partials/forms/status_update_form.html" %}
  <div class="divider hide show-on-status-focus"></div>

  {% for user in users %}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="right new badge" data-badge-caption="custom caption">4</span>
          <div class="row valign-wrapper">
            <div class="col s1">
              <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle responsive-img right"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="card-title" style="margin-left: -45px;">
                {{ user.get_full_name }}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col s10">
              <div class="progress">
                <div class="determinate" style="width: {{ user.ramzaan_userprogressuser.first.get_progress }}%"></div>
              </div>
              on ayat
            </div>
          <div class="col s2">
              <i class="material-icons amber-text tooltipped " data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">plus_one</i>
              <i class="material-icons amber-text tooltipped " data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">sentiment_very_satisfied</i>
          </div>
        </div>
          
        </div>
        <div class="card-action">
          <a class="btn-small transparent black-text tooltipped z-depth-0 send-motivation" data-position="bottom" data-userid="{{ user.id }}" data-url="{{ user.ramzaan_userprogressuser.first.get_motivate_url }}" data-tooltip="Motivate this person" style="text-transform: none;"><i class="material-icons left">cloud</i>Motivate</a>

          <div class="right hide user-section-preloader-{{ user.id }}">
            {% include "partials/preloader_small.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
