<div class="col s4" style="display:block;height:700px;overflow:auto;">
  <p class="grey-text">Recent Activities</p>
   <ul class="collection" style="border: none;">
    <li class="collection-item avatar" style="border: none;">
      <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle">
      <span class="title"><b>Mohammad Shahrukh</b></span>
      <p>Made Progress, Learnt 2 More ayats <br>
         On Ayat 3
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar" style="border: none;">
      <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle">
      <span class="title"><b>Mohammad Shahrukh</b></span>
      <p>Made Progress, Learnt 2 More ayats <br>
         On Ayat 3
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar" style="border: none;">
      <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle">
      <span class="title"><b>Mohammad Shahrukh</b></span>
      <p>Made Progress, Learnt 2 More ayats <br>
         On Ayat 3
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar" style="border: none;">
      <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle">
      <span class="title"><b>Mohammad Shahrukh</b></span>
      <p>Made Progress, Learnt 2 More ayats <br>
         On Ayat 3
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar" style="border: none;">
      <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle">
      <span class="title">Mohammad Shahrukh</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar" style="border: none;">
      <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle">
      <span class="title">Mohammad Shahrukh</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar" style="border: none;">
      <img src="https://avatars1.githubusercontent.com/u/13628270?s=460&v=4" alt="" class="circle">
      <span class="title">Mohammad Shahrukh</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
  <p class="center-align">
    <a href="">Load More</a>
  </p>
</div>
